/* Réinitialisation des marges, des paddings et utilisation de la police 'Roboto' */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #f0F0F0FF; /* Couleur du texte */
    background-color: #fafafa; /* Couleur de fond de la page */
}

/* Réglage du défilement fluide pour tous les éléments */
* {
    scroll-behavior: smooth;
}

/****************/
/** En-tête **/
/****************/

header {
    background-color: #111; /* Couleur de fond de l'en-tête */
    padding: 14px 5%;
    width: 90%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 62px;
    border-radius: 50px;
}

.logo_b {
    margin-right: auto;
    margin-left: 128px;
    cursor: pointer;
}

.logo_b:hover {
    transition: opacity 0.5s;
    opacity: 0.5;
}

.onglet {
    display: flex;
    gap: 24px;
    cursor: pointer;
}

.onglet>* {
    color: #FFF;
}

.onglet>*:hover {
    transition: opacity 0.5s;
    opacity: 0.5;
}

.icon {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 128px;
}

.icon>* {
    cursor: pointer;
}

.icon>*:hover {
    transition: opacity 0.5s;
    opacity: 0.5;
}

/*********************/
/** Page d'accueil **/
/*********************/

.presa {
    background-color: #FFF; /* Couleur de fond de la section 'presa' */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding: 10% 15% 10% 10%; /* Ajout de padding */
    gap: 40px;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, .26); /* Ombre interne */
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.image {
    width: 120%; /* Ajustement de la largeur de l'image */
    border-radius: 4px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.26);
}

h1 {
    color: #333333;
    font-size: 5.2rem;
    font-weight: bolder;
    margin: 0;
}

h2 {
    margin: 0;
    color: #757575;
    font-weight: 100;
    font-size: 20px;
}

#gras {
    font-weight: bold;
}

h3 {
    margin: 0;
    color: #333333;
    font-size: 14px;
    font-weight: lighter;
    width: 55%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.logo_social {
    width: 50px;
}

.nom_social {
    color: #111;
    font-size: x-large;
}


/*********************/
/** Footer **/
/*********************/

.test{
    background-color: #FFF;
}

.bas_page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    padding: 20px 5% 20px 5%;
    background-color: #f5f5f5;
    font-size: 1.6rem;
    position: relative;
    box-shadow: inset 1px 2px 4px 0 rgba(0, 0, 0, 0.26);
}

.bas_page>* {
    color: #757575;
    font-size: 1rem;
}

.credit {
    margin-right: auto;
    margin-left: 128px;
    opacity: 0.7;
    cursor: pointer;
}

.credit:hover {
    transition: opacity 0.5s;
    opacity: 1;
}

.bas_page_onglet {
    display: flex;
    gap: 24px;
    margin-right: 128px;
}

.bas_page_onglet>* {
    color: #757575;
    opacity: 0.7;
    cursor: pointer;
}

.bas_page_onglet>*:hover {
    transition: opacity 0.5s;
    opacity: 1;
}

.top {
    background: transparent url(https://www.adhamdannaway.com/wp-content/themes/dannaway/images/sprite.png) 0 -217px;
    width: 118px;
    height: 90px;
    display: block;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -59px;
    bottom: -40px;
    text-indent: -9999px;
}
