body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #FAFAFA;
}

/****************/
/** En-tête **/
/****************/

header {
    background-color: #111;
    padding: 14px 5%;
    width: 90%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.logo {
    display: flex;
    align-items: center;
    width: 62px;
    border-radius: 50px;
}

.logo_b{
    margin-right: auto;
    margin-left: 64px;
}

.onglet {
    display: flex;
    gap: 24px;
}

.onglet>* {
    color: #FFF;
}

.icon {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 128px;
}

/*********************/
 /**Page d'acceuil**/
/*********************/

main{
    display: flex;
    color: white;
    font-size: 6vw;
    font-weight: 600;
    background-size: cover;
    background-image: url(../images/redd-f-c7xBEFBJhkg-unsplash.jpg);
    height: 100vh;
}

.texte{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 128px;
}
